@font-face {
     font-family: WenQuanYiMicroHeiExtend; 
     font-style: normal; 
     font-weight: bold; 
     font-stretch: normal; 
     /* src: url("https://raw.githubusercontent.com/yanyingwang/favfonts/master/WenQuanWeiMiHeiExtend/WenQuanYiMicroHeiExtend-Regular.ttf") format("truetype"); */
     /* src: url("https://raw.githubusercontent.com/yanyingwang/favfonts/master/WenQuanWeiMiHeiExtend/WenQuanYiMicroHeiExtend-Regular.woff2") format("woff2"); */
     src: url("WenQuanYiMicroHeiExtend-Regular.woff2") format("woff2");
}


/* .wq-ext-font { */
/*     font-family: 'WenQuanYiMicroHeiExtend'; */
/* } */

/* body { */
/* font-family: WenQuanYiMicroHeiExtend !important; */
/* } */

.maincolumn, .refpara, .refelem, .tocset, .stt, .hspace, .refparaleft, .refelemleft {
    font-family: 'Fira-Mono', monospace, WenQuanYiMicroHeiExtend !important;
}


.RktIn, .RktRdr, .RktPn, .RktMeta,
.RktMod, .RktKw, .RktVar, .RktSym,
.RktRes, .RktOut, .RktCmt, .RktVal,
.RktBlk, .RktErr {
    font-family: 'Fira-Mono', monospace, WenQuanYiMicroHeiExtend !important;
}

.main, .refcontent, .tocview, .tocsub, .sroman, i {
    font-family: 'Charter-Racket', serif, WenQuanYiMicroHeiExtend !important;
}


h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Fira', sans-serif, WenQuanYiMicroHeiExtend !important;
}

.tocset td {
    font-family: 'Fira', sans-serif, WenQuanYiMicroHeiExtend !important;
}

.tocsubtitle {
        font-family: 'Fira', sans-serif, WenQuanYiMicroHeiExtend !important;
}
